<div class="home-content content-bg">
  <div class="content-top row between-xs middle-xs">
    <div class="col-xs end-xs center-xs">
        <strong>Filter:</strong>
        <label class="color-field">
          <input type="checkbox" (click)="updateFilter('blue')">
          <span class="color-field-display" style="background-color: blue"></span>
        </label>
        <label class="color-field">
          <input type="checkbox" (click)="updateFilter('green')">
          <span class="color-field-display" style="background-color: green;"></span>
        </label>
        <label class="color-field">
          <input type="checkbox" (click)="updateFilter('gray')">
          <span class="color-field-display" style="background-color: gray;"></span>
        </label>
    </div>
  </div>
  <div class="content-items row middle-xs">
    <div *ngFor="let item of items | colorFilter:filter" class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
      <div class="item-card focus-scale">
        <a [routerLink]="['/item', item.name]">
          <app-item [item]="item"></app-item>
        </a>
      </div>
    </div>
  </div>
</div>
